global_defs {
  router_id controller_2
}

vrrp_script nginx {
  script "killall -0 nginx"
  interval 2
  weight 2
}

vrrp_instance 50 {
  virtual_router_id 50
  advert_int 1
  priority 101
  state MASTER
  interface eth1
  virtual_ipaddress {
    192.168.56.103 dev eth1
  }
  track_script {
    nginx
  }
}
